<h1>New Post</h1>

<%= form_with model: @post do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title, placeholder: "Enter your title", class:"placeholder" %>
  <%= form.label :body %>
  <%= form.text_area :body, placeholder: "Write your article here", class:"placeholder" %>
  <br>
  <%= form.submit %>
<% end %>