<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <p class="alert alert-success"><%= app_notice(@notice) %></p>
  <p class="alert alert-danger"><%= app_alert(@alert) %></p>

    <%= yield %>

    <%= user_logout(@user) %>
  </body>
</html>
